<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>home</title>
    <!-- <link rel="stylesheet" type="text/css" href="/../../resources/css/style.css"></link> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">
$('#insertBtn').click(function(){
	$('form').submit();
})
	
</script>
</head>
<body>	
	<h1>
		Hi spring data jpa test
	</h1>
	<div>
		<a th:href="@{/customer/select}" id="select">select</a><br/>
		<a th:href="@{/customer/insert}" id="insert">insert</a><br/>
		<a th:href="@{/customer/delete}" id="delete">delete</a>
	</div>
	
	<form th:action="@{/customer/insert}" method="get">
		
	</form>
	<button type="submit" id="insertBtn">送出</button>	
	
</body>
</html>
