<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script th:inline="javascript">
		var h1 = /*[[${h1}]]*/;
		console.log('h1 text = ', h1);
	</script>
</head>
	<body>
		<div th:if="${not #lists.isEmpty(dataList)}">
			<table style="border:3px #cccccc solid;" border="1">
				<thead>
					<tr>
						<th width="15%">客戶ID</th>
						<th width="15%">姓名</th>
						<th width="15%">地址</th>
						<th width="15%">年齡</th>
						<th width="15%">電話</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entity : ${dataList}">
						<td data-th="客戶ID" th:text="${entity.customerId}"></td>	
						<td data-th="姓名" th:text="${entity.name}"></td>
						<td data-th="地址">
							<th:block th:include="componets/areaColor::areaColor(${entity.addr})"></th:block>
						</td>
						<td data-th="年齡" th:text="${entity.age}"></td>
						<td data-th="電話" th:text="${ T(com.example.homeDemo.util.formatUtils).phoneFormat(entity.tel)}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:unless = "${not #lists.isEmpty(dataList)}" style="color:red">
			查無資料
		</div>
	</body>
</html>
