<th:block th:fragment="areaColor(variable1)">
 	<span class="ApplicationStauts_Res" th:switch="${variable1}">
		<span th:case="'台北市'" style="color: yellow" th:text="${variable1} + ''"></span> 
		<span th:case="'新北市'" style="color: red" th:text="${variable1} + ''"></span> 
		<span th:case="'台中市'" style="color: green" th:text="${variable1} + ''"></span> 
		<span th:case="'高雄市'" style="color: blue" th:text="${variable1} + ''"></span> 
		<span th:case="*" style="color: #000000;"  th:text="${variable1}"></span>		
	</span>
</th:block>